*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  z-index:1;
  color:rgb(228, 228, 228);
  font-family: Karla, sans-serif;
  /* border:1px solid white; */
  height:100vh;
  
  background:#181818;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

#root{
  width:60%;
  /* border:1px solid white; */
  height:100%;

}
#main-container{
  display:flex;
  align-items: center;
  justify-content: center;
  z-index:2;
  background:#262729;
  width: 100%;
  height:100%;
  overflow: hidden;
}

#bottom-left-styler{
  position : absolute;
  background:#648AB0;
  height:200px;
  width:200px;
  bottom:0%;
  left:20%;
  border-radius: 150px 0px 0 0;
  transform: rotate(90deg);
  
  
}

#top-right-styler{
  z-index:1;
  position : absolute;
  background:#DFD9A3;
  height:200px;
  width:200px;
  top:0%;
  right:20%;
  border-radius: 150px 0px 0 0;
  transform: rotate(-90deg);



}


#main-heading{
  letter-spacing: 1px;
  text-align:center;
  font-size:3em;
  z-index: 2;
  position:relative;
  color:#6f7fda;
  line-height: 1.3em;
}

#sub-heading{
  position : relative;
  z-index:999;
  text-align:center;
  font-size:1.2em;
  color:rgb(184, 184, 184);
}
